<div class="container text-left" style="background-color: #f3f4f0; border-radius: 25px; color: #3B3A36; padding: 25px; padding-bottom: 50px;">
	<div class="col-md-12">
		<!-- About Me -->
		<div style="padding: 15px;">
			<!-- Header -->
			<div class="col-md-12 text-center" style=" font-family: 'Pacifico', cursive; font-size: 45px; padding-bottom: 5px;">
				<b>I am Rachel Prisock</b>
			</div>
			<!-- Image -->
			<div class="col-md-6 text-center">
				<div>
					<div>
						<%= image_tag(@image, height: 300, width: 300, :class => "img_circle") %>
					</div>
				</div>
			</div>
			<!-- Text -->
			<div style="font-family: 'Arimo', sans-serif;">
				<div class="col-md-6" style="font-size: 20px;">
					<div style="padding-bottom: 5px; font-size: 17px; padding-top: 15px;">
						<p><b>Junior Full Stack Developer</b> with a strong knowledge of Ruby on Rails and Python.</p>
						<p>An <b>avid learner,</b> striving to learn something new everyday.</p>
						<p>A diehard <b>puzzle lover.</b> Give me a puzzle and I will sit still until I come to a solution - <i>much like my coding style</i></p>
						<p><b>I'm passionate about</b> mentorship & teaching others about computer science</p>
						<p><b>Devoted to building</b> data and test driven applications</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
		
