<!-- Full Resume -->
<div class="container" style="background-color: #52e0bd;  border-radius: 25px; color: #3B3A36; padding: 25px; padding-bottom: 50px;">
	<div class="col-md-12">
		<!-- Education -->
		<div style="padding-bottom: 25px">
			<div class="col-md-12 text-center" style="padding: 25px; font-family: 'Pacifico', cursive; font-size: 40px;">
				<b><i class="fa fa-graduation-cap text-center"></i>Education</b>
			</div>

			<div style=" font-family: 'Arimo', sans-serif;">
				<!-- DS -->
				<div>
					<div id="education" class="col-md-6" style="font-size: 20px;">
						<b>Data Science Course</b>
						<br>
						<div style="font-size: 13px;">
							<i>General Assembly</i>
							Graduated: 2016
						</div>
					</div>
					<div class="col-md-6" style="padding-bottom: 20px; font-size: 15px;">
						<p>Studied machine learning, scraping, python, prediction and analysis of large data sets.</p>
					</div>
				</div>

				<!-- BEWD -->
				<div>
					<div id="education" class="col-md-6" style="font-size: 20px;">
						<b>Back-End Web Development Course</b>
						<br>
						<div style="font-size: 13px;">
							<i>General Assembly</i>
							Graduated: 2015
						</div>
					</div>
					<div class="col-md-6" style="padding-bottom: 20px; font-size: 15px;">
						<p>Built and deployed Ruby on Rails applications and studied MVC, databases, routing, and APIs. </p>
					</div>
				</div>

				<!-- GWU -->
				<div>
					<div id="education" class="col-md-6" style="font-size: 20px;">
						<b>B.A. Psychology</b>
						<br>
						<div style="font-size: 13px;">
							<i>George Washington University</i>
							Graduated: 2014
						</div>
					</div>
					<div class="col-md-6" style="padding-bottom: 20px; font-size: 15px;">
						<p>GPA: 3.44 - Studied behavioral trends, neuroscience research, and statistical analysis.</p>
					</div>
				</div>				
			</div>

		</div>
		
				<!-- Skills -->
		<div style="padding-bottom: 25px">
			<div class="text-center col-md-12" style="padding: 25px; font-family: 'Pacifico', cursive; font-size: 40px;">
				<b><i class="fa fa-keyboard-o text-center"></i>
				Skills</b>
			</div>

			<!-- Languages and Frameworks -->
			<div>
				<div id="skills" class="col-md-3 col-md-offset-2" style="font-size: 20px;">
					<b>Languages & Frameworks:</b>
				</div>
				<div class="" style="font-size: 18px;">
					<div class="col-md-3" style="padding-bottom: 30px;">
						<i class="icon-ruby"></i> Ruby
						<br>
						<i class="icon-python"></i> Python
						<br>
						<i class="icon-javascript-alt"></i> Javascript
						<br>
					</div>
					<div class="col-md-3">
						<i class="icon-ruby-on-rails-alt"></i> Rails
						<br>
						<i class="icon-python"></i> Django
						<br>
						<i class="icon-javascript-alt"></i> AngularJS
						<br>
					</div>
				</div>
			</div>

			<!-- Dev Ops -->
			<!-- Testing -->
			<div>
				<div id="skills" class="col-md-3 col-md-offset-2" style="font-size: 20px;">
					<b>DevOps & Tools:</b>
				</div>
				<div style="font-size: 18px;">
					<div class="col-md-3" style="padding-bottom: 30px;">
						<i class="icon-aws"></i> AWS
						<br>
						<i class="icon-nginx-alt"></i> Nginx
						<br>
						<i class="icon-heroku"></i> Heroku
						<br>
					</div>
					<div class="col-md-3">
						<i class="icon-ubuntu"></i> Ubuntu
						<br>
						<i class="fa fa-linux" aria-hidden="true"></i> Linux
						<br>
						<i class="fa fa-github-alt" aria-hidden="true"></i> Github
						<br>
					</div>
				</div>
			</div>

			<!-- Databases -->
			<div>
				<div id="skills" class="col-md-3 col-md-offset-2" style="font-size: 20px;">
					<b>Databases:</b>
				</div>
				<div style="font-size: 18px;">
					<div class="col-md-3" style="padding-bottom: 30px;">
						<i class="icon-postgres"></i> PostgreSQL
						<br>
					</div>
					<div class="col-md-3">
						<i class="icon-mysql-alt"></i> MySQL
						<br>
					</div>
				</div>
			</div>

			<!-- Testing -->
			<div>
				<div id="skills" class="col-md-3 col-md-offset-2" style="font-size: 20px;">
					<b>Testing:</b>
				</div>
				<div style="font-size: 18px;">
					<div class="col-md-3" style="padding-bottom: 30px;">
						<span class="glyphicon glyphicon-minus"></span> Rspec
						<br>
						<span class="glyphicon glyphicon-minus"></span> FactoryGirl
						<br>
					</div>
					<div class="col-md-3">
						<span class="glyphicon glyphicon-minus"></span> Capybara
						<br>
						<span class="glyphicon glyphicon-minus"></span> Selenium
						<br>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Experience -->
		<div style="padding-bottom: 25px">
			<div class="col-md-12 text-center" style="padding: 25px; font-family: 'Pacifico', cursive; font-size: 40px;">
				<b><i class="fa fa-briefcase text-center"></i>
				 Experience</b>
			</div>

			<div style=" font-family: 'Arimo', sans-serif;">
				<!-- Junior Full Stack -->
				<div>
					<div id="job-title" class="col-md-5" style="font-size: 20px;">
						<b>Junior Full Stack Developer</b>
						<br>
						<div style="font-size: 13px;">
							<i>ECMC Innovation Lab</i>
							April 2016 - Present
						</div>
					</div>
					<div class="col-md-7" style="padding-bottom: 30px; font-size: 15px;">
						<p>Built client-facing applications in Ruby on Rails and AngularJS to support collegeabacus.org.</p>
						<p>Configured and managed AWS EC2 instances and PostgreSQL Amazon RDS databases.</p>
						<p>Wrote tests with Rspec in an effort to maintain high quality code and bug free applications.</p>
					</div>
				</div>

				<!-- QA -->
				<div>
					<div id="job-title" class="col-md-5" style="font-size: 20px;">
						<b>QA and Support Technician</b>
						<br>
						<div style="font-size: 13px;">
							<i>ECMC Innovation Lab</i>
							August 2015 - March 2016
						</div>
					</div>
					<div class="col-md-7" style="padding-bottom: 30px; font-size: 15px;">
						<p>Built 2 client-side features with AngularJS and Ruby on Rails to expand ability to debug.</p>
						<p>Documented processes for AngularJS application to train future members of the team.</p>
						<p>Identified and tracked bugs by analyzing user feedback to optimize application functionality.</p>
					</div>
				</div>
						
				<!-- Intern -->
				<div>
					<div id="job-title" class="col-md-5" style="font-size: 20px;">
						<b>Product Development & Innovation Intern</b>
						<br>
						<div style="font-size: 13px;">
							<i>ECMC Innovation Lab</i>
							April - August 2015
						</div>
					</div>
					<div class="col-md-7" style="padding-bottom: 30px; font-size: 15px;">
						<p>Programmatically added 5,000+ institutions to College Abacus to build application.</p>
						<p>Trained 6 interns to programmatically add difficult university records to College Abacus.</p>
						<p>Informed future development of application features to boost efficiency of school-adding procedures.</p>
					</div>
				</div>		

				<!-- Brown -->
				<div>
					<div id="job-title" class="col-md-5" style="font-size: 20px;">
						<b>Neuroscience Research Assistant</b>
						<br>
						<div style="font-size: 13px;">
								<i>Brown University</i>
								June - December 2014
						</div>
					</div>
					<div class="col-md-7" style="padding-bottom: 30px; font-size: 15px; font-size: 15px;">					
						<p>Researched the effects of meditation on depression.</p>
						<p>Gathered, entered, and analyzed data to further the findings of the study.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>