<div class="container">
	<div class="col-md-6">
		<h2><i class="fa fa-graduation-cap"></i>
	 	Education</h2>
			<h4>Data Science Course - General Assembly | Graduating: 2016</h4>
			<h4>Back-End Web Development Course	 - General Assembly	| Graduated: 2015</h4>
			<h4>B.A. Psychology - George Washington University | Graduated: 2014</h4>
				<h5>GPA: 3.44</h5>
	</div>
	<div class="col-md-6">
		<h2><i class="fa fa-keyboard-o"></i>
		Skills</h2>
			<h4>Languages & Frameworks:</h4>
				<p>Ruby on Rails, JavaScript, Python, SQL, Bootstrap, AngularJS</p>
			<h4>Testing:</h4> 
				<p>CapybaraPoltergeist, PhantomJS</p>
			<h4>Databases:</h4>
				<p>PostgreSQL, MySQL</p>		
	</div>		
	<div class="col-md-12">
		<h2><i class="fa fa-briefcase"></i>
		 Experience</h2>
			<h4>User Support Technician | ECMC Innovation Lab | August 2015 - Present</h4>
				<p>Built 2 client-side features with AngularJS and Ruby on Rails to expand ability to debug.
				Documented processes for AngularJS application to train future members of the team.
				Identified and tracked bugs by analyzing user feedback to optimize application functionality.</p>
			<h4>Product Development and Innovation Intern | ECMC Innovation Lab | April - August 2015
			</h4>						
				<p>Programmatically added 5,000+ institutions to College Abacus to build application.
				Trained 6 interns to programmatically add difficult university records to College Abacus.
				Informed future development of application features to boost efficiency of school-adding procedures.</p>
			<h4>Neuroscience Research Assistant	| Brown University: Cognitive and Affective Neuroscience Lab | June - December 2014
			</h4>						
				<p>Researched the effects of meditation on depression.
				Gathered, entered, and analyzed data to further the findings of the study.</p>		
	</div>
	
</div>