a:link {
	color: #3B3A36;
}
a:visited {
	 color: #3B3A36;
}
a:hover { 
	font-weight: bold; 
	}
.img_circle {
	border-radius: 25%;
	margin: 20px;	
}
circle-container {
	border-radius: 50%;
	border: 1px solid;
}